:root {
  --primary-bg-color: #f9f9f9;
  --sidebar-bg-color: #202020;
  --text-color: white;
  --link-hover-color: #373737;

  /* Pontos de quebra */
  --breakpoint-xs: 480px; /* Smartphones */
  --breakpoint-sm: 768px; /* Tablets */
  --breakpoint-md: 992px; /* Pequenos desktops */
  --breakpoint-lg: 1200px; /* Grandes desktops */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--primary-bg-color);
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  max-width: 100vw;
}

.sidebar {
  height: 100%;
  width: 10%;
  background-color: var(--sidebar-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  display: block;
  padding: 12px 20px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: var(--link-hover-color);
}

#main {
  flex: 1;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 1200px) {
  #main {
    width: 80%;
  }

  .sidebar {
    width: 20%;
  }
}
